  <footer>
    <p>
      Made by
      <a href="https://www.jamesnuanez.com">James Nuanez</a>
      in 2020
      <span class="nowrap">
        &mdash; Code available on
        <a href="https://github.com/jamesnuanez/history-api-with-modals-demo">GitHub</a>
      </span>
    </p>
  </footer>
</body>
</html>
