<%- include('partials/header') %>

  <main>
    <h1>About</h1>
    <h2>This demonstration was created by:</h2>
    <pre>
James Nuanez
Freelancer / Consultant
<a href="https://www.jamesnuanez.com">www.jamesnuanez.com</a>
<a href="mailto:james@jamesnuanez.com">james@jamesnuanez.com</a>
<a href="https://github.com/jamesnuanez">github.com/jamesnuanez</a></pre>
  </main>

<%- include('partials/footer') %>
