<%- include('partials/header') %>

  <main>
    <h1>History API with Modals</h1>
    <h2>And the search for the ultimate user experience</h2>
    <p>
      This is a demonstration of how to use the history API to close a modal with the back button.
      For more information please see the documentation on
      <a href="https://github.com/jamesnuanez/history-api-with-modals-demo">Github</a>.
    </p>
    <p>
      You can also download a presentation on this content <a href="/presentation.ppt">here</a>.
    </p>
  </main>

<%- include('partials/footer') %>
