/*===========================================================================*/
/* General */
/*===========================================================================*/

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: helvetica;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

main {
  display: block;
  flex-grow: 1;
  padding: 1rem;
}

h1,
h2 {
  font-weight: normal;
  margin: 0.5rem 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: #5180C3;
}

a:hover {
  color: #3E5F8F;
}

pre {
  border: 1px solid #ccc;
  padding: 0.2rem 0.5rem;
  font-size: 1.8rem;
  line-height: 160%;
  overflow: auto;
}

img {
  width: 100%;
}

.button {
  background: #5180C3;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 1rem;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.button:hover {
  background: #3162A6;
}

/*===========================================================================*/
/* Header */
/*===========================================================================*/

header {
  border-bottom: 1px solid #aaa;
  background: #ddd;
}

header > nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

header > nav > ul > li {
  display: flex;
}

header > nav > ul > li > a {
  padding: 1rem;
  text-decoration: none;
}

header > nav > ul > li > a:hover {
  background: #ccc;
}

/*===========================================================================*/
/* Footer */
/*===========================================================================*/

footer {
  padding: 2rem;
  background: #ddd;
  color: #777;
  border-top: 1px solid #aaa;
  text-align: center;
}

/*===========================================================================*/
/* Modal */
/*===========================================================================*/

#modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

#modal {
  background: #fff;
  position: relative;
  width: 20rem;
  max-width: 50%;
  box-shadow: 0 0.2rem 0.3rem 0.2rem rgba(0,0,0,0.3);
  text-align: center;
  max-height: 100%;
  overflow: auto;
}

#modal-close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
}

#modal-close-button:hover {
  color: #983333;
}
